body {
  background-color: #21222c;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* estilo maquina de escribir */
.containerMyName {
  margin: auto;
  display: table;
}
.myName {
  position: relative;
  color: white;
  font-size: 2em !important;
}
.myName .myNameType {
  position: absolute;
  right: 0;
  width: 0;
  background: #21222c;
  border-left: 1px solid #000;
  animation: escribir 5s steps(15) infinite alternate;
}

@keyframes escribir {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/* estilo maquina de escribir */
